<!doctype html>

<head>
<title>{% block title %}{% endblock %}</title>

<!-- stylesheets -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootswatch.theme.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
{% block style %}{% endblock %}

</head>

<body>

  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

    <button class="navbar-toggler" type="button"
      data-toggle="collapse" data-target="#navbar"
      aria-controls="navbar" aria-expanded="false" aria-label="Toggle">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a class="nav-link" href="/">Monsters</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/spells">Spells</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/conditions">Conditions</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/brawl">Brawl</a>
        </li>

      </ul>
    </div>

  </nav>

{% block content %}{% endblock %}

<footer class="footer">
  <div class="container">
    <span class="text-muted float-right"><a target='_blank' href='https://github.com/jness/dungeon_brawl'><small>Source Code on Github</small><a/></span>
  </div>
</footer>

</body>

<!-- scripts -->
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
{% block javascript %}{% endblock %}
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</body>
</html>
