{% extends 'base.html' %}

{% block title %}
Brawl
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/brawl.css') }}">
{% endblock %}

{% block content %}
<div class="container">

    <button type="button" class="btn btn-warning" onclick="window.location='/brawl_clear_monsters';">Clear Monsters</button>
    <button type="button" class="btn btn-danger" onclick="window.location='/brawl_clear_all';">Clear All</button>
    <button type="button" class="btn btn-primary" onclick="window.location='/brawl_roll_initiative';">Roll Initiative</button>

    <hr>

    <form action='/brawl_add_character' method='POST'>
      <input id="name" type="text" name="name" placeholder=" Character Name" required>
      <input id="name" type="text" name="initiative_modifier" placeholder=" Initiative Modifier (+2)" required>
      <input id="name" type="number" name="hit_points" placeholder=" Hit Points" required>
      <button class="btn btn-success btn-sm" type="submit">Add Character</button>
    </form>

    <hr>

    <form>
    <table id="table" class="table table-striped" style="width:100%">

        <tr>
          <th></th>
          <th>Initiative</th>
          <th>Name</th>
          <th>Hit Points</th>
          <th>Notes</th>
          <th></th>
        </tr>

        {% for monster in monsters %}
          <tr>
            <td><input name="turn" type="radio"></td>

            <td>
              {{ monster.initiative }}
            </td>

            <td>{% if monster.slug_name %}<a target='_blank' href='/monster/{{ monster.slug_name }}'>{{ monster.name }}</a>{% else %}{{ monster.name }}{% endif %}</td>

            <td>
              <span id='{{ monster.unique_id }}_hit_points'>{{ monster.hit_points }}</span>
            </td>

            <td>{{ monster.notes }}</td>

            <td>
            <button type="button" data-toggle="modal" data-target="#{{ monster.unique_id }}_edit" class="btn btn-info btn-sm">Edit</button>
            </td>

          </tr>

        {% endfor %}

    </table>
  </form>

{% for monster in monsters %}
<div class="modal fade" id="{{ monster.unique_id }}_edit" tabindex="-1" role="dialog" aria-labelledby="{{ monster.unique_id }}_edit" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ monster.name }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form action='/brawl_update_monster' method='POST'>
      <div class="modal-body">
          <p>Initiative</p>
          <p><input id="name" type="number" value="{{ monster.initiative }}" name="initiative" required></p>

          <p>Hit Points</p>
          <p><input id="hp" type="text" name="hit_points" value="{{ monster.hit_points }}" required></p>

          <p>Notes</p>
          <p><input id="hp" type="text" name="notes" value="{{ monster.notes }}"></p>

          <input type="hidden" name="unique_id" value="{{ monster.unique_id }}">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a class="btn btn-danger" href="/brawl_remove_monster?unique_id={{ monster.unique_id }}">Remove</a>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
      </form>
    </div>
  </div>
</div>
{% endfor %}


</div>

{% endblock %}
