{% extends 'base.html' %}


{% block title %}
{{ monster.name }}
{% endblock %}


{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/monster.css') }}">
{% endblock %}


{% block javascript %}
<script src="{{ url_for('static', filename='js/monster.js') }}"></script>
{% endblock %}


{% block content %}

<div class="container">

  <h1>

    <!-- Begin add monster to brawl -->
    <a href='/brawl_add_monster?slug_name={{ monster.slug_name}}'><img width=50 src='{{ url_for('static', filename='images/brawl.png') }}'></a>
    <!-- End add monster to brawl -->

    <strong>{{ monster.name }}</strong>

  </h1>

  <!-- Begin monster type -->
  {{ monster.size|title }} {{ monster.type|title }}
  {% if monster.subtype %}
    ({{ monster.subtype|title }})
  {% endif %}
  , {{ monster.alignment|title }}
  <hr>
  <!-- End monster type -->

  <!-- Begin monster ac, hp, and speed -->
  <p><strong>Armor Class</strong> {{ monster.armor_class }}</p>
  <p><strong>Hit Points</strong> {{ monster.hit_points }} ({{ monster.hit_dice }})</p>
  <p><strong>Speed</strong> {{ monster.speed }}</p>
  <hr>
  <!-- End monster ac, hp, and speed -->

  <!-- Begin monster attributes -->
  <table width=50%>

    <thead>
      <tr>
        <th><strong>STR</strong></th>
        <th><strong>DEX</strong></th>
        <th><strong>CON</strong></th>
        <th><strong>INT</strong></th>
        <th><strong>WIS</strong></th>
        <th><strong>CHA</strong></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>{{ monster.strength }} ({{ monster.strength_modifier }})</td>
        <td>{{ monster.dexterity }} ({{ monster.dexterity_modifier }})</td>
        <td>{{ monster.constitution }} ({{ monster.constitution_modifier }})</td>
        <td>{{ monster.intelligence }} ({{ monster.intelligence_modifier }})</td>
        <td>{{ monster.wisdom }} ({{ monster.wisdom_modifier }})</td>
        <td>{{ monster.charisma }} ({{ monster.charisma_modifier }})</td>
      </tr>

    </tbody>

  </table>
  <hr>
  <!-- End monster attributes -->

  <!-- Start monster details -->
  {% if monster.saving_throws %}
    <p><strong>Saving Throws</strong>
      {{ monster.saving_throws }}
    </p>
  {% endif %}

  {% if monster.skills %}
  <p><strong>Skills</strong>
    {{ monster.skills }}
  </p>
  {% endif %}

  {% if monster.condition_immunities %}
    <p><strong>Condition Immunities</strong>
      {{ monster.condition_immunities }}
    </p>
  {% endif %}

  {% if monster.damage_resistances %}
    <p><strong>Resistances</strong>
      {{ monster.damage_resistances }}
    </p>
  {% endif %}

  {% if monster.damage_vulnerabilities %}
    <p><strong>Vulnerabilities</strong>
      {{ monster.damage_vulnerabilities }}
    </p>
  {% endif %}

  {% if monster.senses %}
    <p>
      <strong>Senses</strong>
      {{ monster.senses }}
    </p>
  {% endif %}

  {% if monster.languages %}
    <p><strong>Languages</strong>
      {{ monster.languages }}
    </p>
  {% endif %}

  <p>
    <strong>Challenge</strong>
    {{ monster.challenge_rating }} ({{ monster.experience }})
  </p>

  <hr>
  <!-- End monster details -->

  <!-- Start monster special abilities -->
  {% if monster.special_abilities %}
    {% for ability in monster.special_abilities %}
      <p><strong>• {{ ability.name }}</strong></p>
      {% for description in ability.descriptions %}

        {% if description is mapping %}
          <p class="indent">{{ description.hyperlinked|safe }}</p>
        {% else %}
          <p class="indent">{{ description }}</p>
        {% endif %}

      {% endfor %}
    {% endfor %}

  <hr>
  {% endif %}
  <!-- End monster special abilities -->

  <!-- Start monster actions -->
  <h4><strong>Actions</strong></h4>
  <br>

  {% for action in monster.actions %}
    <p><strong>• {{ action.name }}</strong></p>
    {% for description in action.descriptions %}
      <p class="indent">{{ description }}</p>
    {% endfor %}
  {% endfor %}
  <!-- End monster actions -->

  <!-- Start monster legendary actions -->
  {% if monster.legendary_actions %}
    <h4><strong>Legendary Actions</strong></h4><br>

    <div id='legendary_actions'>
    {% for legendary_action in monster.legendary_actions %}
      <p><strong>• {{ legendary_action.name }}</strong></p>
      {% for description in legendary_action.descriptions %}
        <p class="indent">{{ description }}</p>
      {% endfor %}
    {% endfor %}
    </div>
  {% endif %}
  <!-- End monster legendary actions -->

</div>

{% endblock %}
