{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/monsters.css') }}">
{% endblock %}

{% block content %}

<div class="container">

  <table id="table" class="table table-striped" style="width:100%">

      <tr>
        <th>Add to Brawl</th>
        <th><a href='?sort=name{{ params }}'>Name</a></th>
        <th><a href='?sort=type{{ params }}'>Type</a></th>
        <th><a href='?sort=size{{ params }}'>Size</a></th>
        <th><a href='?sort=alignment{{ params }}'>Alignment</a></th>
        <th><a href='?sort=challenge_rating_numeric{{ params }}'>Challenge</a></th>
      </tr>

      {% for monster in monsters %}
        <tr>
          <td><center><a href='brawl_add?slug_name={{ monster.slug_name}}'><img width=35 src='{{ url_for('static', filename='images/brawl.png') }}'></a></center></td>
          <td><a href='/monster/{{ monster.slug_name }}'>{{ monster.name }}</a></td>
          <td>{{ monster.type|title }}</td>
          <td>{{ monster.size|title }}</td>
          <td>{{ monster.alignment|title }}</td>
          <td>{{ monster.challenge_rating }}</td>
        </tr>
      {% endfor %}

  </table>

</div>

{% endblock %}
