{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/monster.css') }}">
{% endblock %}

{% block content %}

<div class="container" style="padding-top: 0px ; padding-left: 100px;">

  <h1><strong>{{ monster.name }}</strong></h1>
  <h6>{{ monster.size|title }} {{ monster.type|title }}
    {% if monster.subtype %}
      ({{ monster.subtype|title }})
    {% endif %}

    , {{ monster.alignment|title }}
  </h6>

  <hr>

  <h6>
    <p><strong>Armor Class</strong> <small>{{ monster.armor_class }}</small></p>
    <p><strong>Hit Points</strong> <small>{{ monster.hit_points }} ({{ monster.hit_dice }})</small></p>
    <p><strong>Speed</strong> <small>{{ monster.speed }}</small></p>
  </h6>

  <hr>

  <h6>
    <table width=50%>
      <thead>
        <tr>
          <th><strong>STR</strong></th>
          <th><strong>DEX</strong></th>
          <th><strong>CON</strong></th>
          <th><strong>INT</strong></th>
          <th><strong>WIS</strong></th>
          <th><strong>CHA</strong></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td><small>{{ monster.strength }} ({{ monster.strength_mod }})</small></td>
          <td><small>{{ monster.dexterity }} ({{ monster.dexterity_mod }})</small></td>
          <td><small>{{ monster.constitution }} ({{ monster.constitution_mod }})</small></td>
          <td><small>{{ monster.intelligence }} ({{ monster.intelligence_mod }})</small></td>
          <td><small>{{ monster.wisdom }} ({{ monster.wisdom_mod }})</small></td>
          <td><small>{{ monster.charisma }} ({{ monster.charisma_mod }})</small></td>
        </tr>

      </tbody>

    </table>

  </h6>

  <hr>

  <h6>

    {% if monster.strength_save or monster.dexterity_save or monster.constitution_save or monster.intelligence_save or monster.wisdom_save or monster.charisma_save %}
      <p><strong>Saving Throws</strong>
        <small>

          {% if monster.strength_save %}
            Str +{{ monster.strength_save }},
          {% endif %}

          {% if monster.dexterity_save %}
            Dex +{{ monster.dexterity_save }},
          {% endif %}

          {% if monster.constitution_save %}
            Con +{{ monster.constitution_save }},
          {% endif %}

          {% if monster.intelligence_save %}
            Int +{{ monster.intelligence_save }},
          {% endif %}

          {% if monster.wisdom_save %}
            Wis +{{ monster.wisdom_save }},
          {% endif %}

          {% if monster.charisma_save %}
            Cha +{{ monster.charisma_save }}
          {% endif %}

        </small>
      </p>
    {% endif %}

    {% if monster.skills %}
    <p>
      <strong>Skills</strong>

        {% for skill in monster.skills %}
          <small>{{ skill.name }} +{{ skill.bonus}}, </small>
        {% endfor %}
    </p>
    {% endif %}

    <h6>

      {% if monster.damage_resistances %}
        <p><strong>Resistances</strong> <small>{{ monster.damage_resistances }}</small></p>
      {% endif %}

      {% if monster.damage_vulnerabilities %}
        <p><strong>Vulnerabilities</strong> <small>{{ monster.damage_vulnerabilities }}</small></p>
      {% endif %}

      {% if monster.senses %}
        <p><strong>Senses</strong> <small>{{ monster.senses }}</small></p>
      {% endif %}

      {% if monster.languages %}
        <p><strong>Languages</strong> <small>{{ monster.languages }}</small></p>
      {% endif %}

      <p><strong>Challenge</strong> <small>{{ monster.challenge_rating }} ({{ monster.experience_points}} XP)</small></p>
    </h6>

  </h6>

  <hr>

  {% for ability in monster.special_abilities %}
    <p>
      <strong>{{ ability.name }}</strong>: {{ ability.desc }}
    </p>
  {% endfor %}

  <hr>

  <h4><strong>Actions</strong></h4>
  <br>

  {% for action in monster.actions %}
    <p>
      <strong>{{ action.name }}</strong>: {{ action.desc }}
    </p>
  {% endfor %}

  {% if monster.legendary_actions %}
    <h4><strong>Legendary Actions</strong></h4>
    <br>

    {% for action in monster.legendary_actions %}
      <p>
        <strong>{{ action.name }}</strong>: {{ action.desc }}
      </p>
    {% endfor %}
  {% endif %}

</div>

{% endblock %}
