{% extends 'base.html' %}

{% block title %}
Monsters
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/monsters.css') }}">
{% endblock %}

{% block searchbox %}

<div class="container">

<form action="/monster_search" method="GET">

<div class="form-row">

  <div class="col-7">
    <label for="inputName" class="sr-only">Search Text</label>
    <input id="inputName" class="form-control" type="text" name="search_text" value="{{ search_text }}" placeholder="Search Monster..." required autofocus>
  </div>

  <div class="col-3">

    <select id="selectField" class="form-control form-select" name="search_field">
      <option value="name" {% if search_field == 'name' %}selected="selected"{% endif %}>Name</option>
      <option value="alignment" {% if search_field == 'alignment' %}selected="selected"{% endif %}>Alignment</option>
      <option value="challenge_rating" {% if search_field == 'challenge_rating' %}selected="selected"{% endif %}>Challenge</option>
      <option value="size" {% if search_field == 'size' %}selected="selected"{% endif %}>Size</option>
      <option value="type" {% if search_field == 'type' %}selected="selected"{% endif %}>Type</option>
    </select>

  </div>

  <div class="col-2">
    <button class="btn btn-block btn-outline-primary" type="submit">Search</button>
  </div>

</div>
</div>
</form>
<hr>
{% endblock %}

{% block content %}
<div class="container">

  <table id="table" class="table table-striped" style="width:100%">

      <tr>
        <th>Add</th>
        <th><a href='?sort=name&search_text={{ search_text }}&search_field={{ search_field }}'>Name</a></th>
        <th><a href='?sort=type&search_text={{ search_text }}&search_field={{ search_field }}'>Type</a></th>
        <th><a href='?sort=size&search_text={{ search_text }}&search_field={{ search_field }}'>Size</a></th>
        <th><a href='?sort=alignment&search_text={{ search_text }}&search_field={{ search_field }}'>Alignment</a></th>
        <th><a href='?sort=challenge_rating_decimal&search_text={{ search_text }}&search_field={{ search_field }}'>Challenge</a></th>
      </tr>

      {% for monster in monsters %}
        <tr>
          <td><center><a href='/brawl_add_monster?slug_name={{ monster.slug_name}}'><img width=35 src='{{ url_for('static', filename='images/brawl.png') }}'></a></center></td>
          <td><a href='/monster/{{ monster.slug_name }}'>{{ monster.name }}</a></td>
          <td>{{ monster.type|title }}</td>
          <td>{{ monster.size|title }}</td>
          <td>{{ monster.alignment|title }}</td>
          <td>{{ monster.challenge_rating }}</td>
        </tr>
      {% endfor %}

  </table>

</div>

{% endblock %}
