{% extends 'base.html' %}

{% block title %}
{{ spell.name }}
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/monster.css') }}">
{% endblock %}

{% block content %}

<div class="container" style="padding-top: 0px ; padding-left: 100px;">

  <h1><strong>{{ spell.name }}</strong></h1>

  {{ spell.level }}, {{ spell.school }}

  <hr>

  <p><strong>Casting Time</strong> {{ spell.casting_time }}</p>
  <p><strong>Range</strong> {{ spell.range }}</p>
  <p><strong>Components</strong> {{ spell.components }}</p>
  <p><strong>Duration</strong> {{ spell.duration }}</p>

  <hr>

  <h4><strong>Description</strong></h4>
  <br>

  {% for description in spell.descriptions %}
      <p>{{ description }}</p>
  {% endfor %}

</div>

{% endblock %}
