{% extends 'base.html' %}


{% block title %}
{{ spell.name }}
{% endblock %}


{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/spell.css') }}">
{% endblock %}


{% block javascript %}
<script src="{{ url_for('static', filename='js/spell.js') }}"></script>
{% endblock %}


{% block content %}
<div class="container">

  <!-- Spell heading -->
  <h1><strong>{{ spell.name }}</strong></h1>
  <p>
    {{ spell.level }}, {{ spell.school }} -
    ({% for class in spell.classes %}{{ class|title }}{% if not loop.last %}, {% endif %}{% endfor %})
  </p>
  <hr>

  <!-- Expected spell attributes -->
  <p><strong>Casting Time</strong> {{ spell.casting_time }}</p>
  <p><strong>Range</strong> {{ spell.range }}</p>
  <p><strong>Components</strong> {{ spell.components }}</p>
  <p><strong>Duration</strong> {{ spell.duration }}</p>
  <hr>

  <!-- Textual spell description -->
  <h4><strong>Description</strong></h4><br>
  <p class="description">{{ spell.description }}</p>

</div>
{% endblock %}
