{% extends 'base.html' %}


{% block title %}
{{ spell.name }}
{% endblock %}


{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/spell.css') }}">
{% endblock %}


{% block javascript %}
<script src="{{ url_for('static', filename='js/spell.js') }}"></script>
{% endblock %}


{% block content %}
<div class="container">

  <!-- Spell heading -->
  <h1><strong>{{ spell.name }}</strong></h1>

  {{ spell.level }}, {{ spell.school }} -
  ({% for class in spell.classes %}{{ class|title }}{% if not loop.last %}, {% endif %}{% endfor %})
  <hr>

  <!-- Expected spell attributes -->

  <strong>Range</strong>: <span>{{ spell.range }}</span><br>
  <strong>Duration</strong>: <span>{{ spell.duration }}</span><br>
  <strong>Casting Time</strong>: <span>{{ spell.casting_time }}</span><br>
  <strong>Components</strong>: <span>{{ spell.components }}</span><br>

  <hr>

  <!-- Textual spell description -->
  <h4><strong>Description</strong></h4>
  <p class="whitespace textbox monospace">{{ spell.description }}</p>

  <hr>

  {% for monster in monsters %}

    {% if loop.first %}<h5><strong>Monsters</strong></h5>{% endif %}

    <small><a href='/monster/{{ monster.slug_name }}'><strong>{{ monster.name }}</strong></a> (<i>{{ monster.type }}</i>){% if not loop.last %}, {% endif %}</small>
  {% endfor %}

</div>
{% endblock %}
