<!doctype html>

<head>
<title>{% block title %}{% endblock %}</title>

<!-- enable mobile friendly views -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- stylesheets -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootswatch.theme.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

<!-- better monospace font -->
<link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">

{% block style %}{% endblock %}

</head>

<body>

  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

    <button class="navbar-toggler" type="button"
      data-toggle="collapse" data-target="#navbar"
      aria-controls="navbar" aria-expanded="false" aria-label="Toggle">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a class="nav-link" href="/">Monsters</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/spells">Spells</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/conditions">Conditions</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#dice" href="/brawl">Dice</a>
        </li>

        {% if is_encounters_enabled %}
        <li class="nav-item">
          <a class="nav-link" href="/encounters">Encounter</a>
        </li>
        {% endif %}

        <li class="nav-item">
          <a class="nav-link" href="/brawl">Brawl</a>
        </li>

      </ul>
    </div>

  </nav>

{% block content %}{% endblock %}

<footer class="footer">
  <div class="container">
    <span class="text-muted float-right"><a target='_blank' href='https://github.com/jness/dungeon_brawl'><small>Source Code on Github</small><a/></span>
  </div>
</footer>


<div class="modal fade" id="dice" tabindex="-1" role="dialog"
  aria-labelledby="dice" aria-hidden="true">

  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h2 class="modal-title"><strong>Dice Bag</strong></h2>
        <button type="button" class="close" onclick="clear_dice()" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <center>
          <span class="dice"><img class="rounded" id="d20" width=90 onclick="roll_dice(20)" src="{{ url_for('static', filename='images/d20.png') }}"></span>
          <span class="dice"><img class="rounded" id="d12" width=90 onclick="roll_dice(12)" src="{{ url_for('static', filename='images/d12.png') }}"></span>
          <span class="dice"><img class="rounded" id="d10" width=90 onclick="roll_dice(10)" src="{{ url_for('static', filename='images/d10.png') }}"></span>
          <span class="dice"><img class="rounded" id="d8" width=90 onclick="roll_dice(8)" src="{{ url_for('static', filename='images/d8.png') }}"></span>
          <span class="dice"><img class="rounded" id="d6" width=90 onclick="roll_dice(6)" src="{{ url_for('static', filename='images/d6.png') }}"></span>
          <span class="dice"><img class="rounded" id="d4" width=90 onclick="roll_dice(4)" src="{{ url_for('static', filename='images/d4.png') }}"></span>
          <br><br>

          <div class="col-3">
            <button class="btn btn-block btn-outline-dark btn-sm" onclick="clear_dice()">Clear</button>
          </div>
        </center>
        <hr>

        <h4><span id="dice_result"></span></h4>
        <h4><span id="dice_total"></span></h4>

      </div>


    </div>
  </div>
</div>

</body>

<!-- scripts -->
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
{% block javascript %}{% endblock %}
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/base.js') }}"></script>

</body>
</html>
