{% extends 'base.html' %}


{% block title %}
Brawl
{% endblock %}


{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/brawl.css') }}">
{% endblock %}


{% block javascript %}
<script src="{{ url_for('static', filename='js/popper.js') }}"></script>
<script src="{{ url_for('static', filename='js/brawl.js') }}"></script>
{% endblock %}


{% block content %}

<!-- Begin brawl buttons -->
<div class="container">

    <div class="form-row">

      <div class="col-3">
        <button class="btn btn-block btn-info" data-toggle="modal" data-target="#add_character">Add</button>
      </div>

      <div class="col-3">
        <button class="btn btn-block btn-warning" data-toggle="modal" data-target="#confirm_reset">Reset</button>
      </div>

      <div class="col-3">
        <button class="btn btn-block btn-danger" data-toggle="modal" data-target="#confirm_clear">Clear</button>
      </div>

      <div class="col-3">
        <button type="button" class="btn btn-block btn-success" onclick="window.location='/brawl_roll_initiative';">Roll</button>
      </div>

  </div>

</div>
<br>
<!-- End brawl buttons -->


<div class="container">

  <!-- Begin brawl table -->
  <table id="table" class="table table-striped" style="width:100%">

    <tr>
      <th></th>
      <th>Initiative</th>
      <th>Name</th>
      <th class="d-none d-md-table-cell">Armor</th>
      <th class="d-none d-md-table-cell">Hit Points</th>
      <th class="d-none d-md-table-cell"><center>Notes</center></th>
      <th class="d-none d-md-table-cell"><center>Conditions</center></th>
      <th><center>Edit</center></th>
    </tr>

    {% for monster in monsters %}
    <tr>
      <td>
        <form action="/brawl_set_turn" method="POST">
          <input name="unique_id" value="{{ monster.unique_id }}"
            type="radio" {% if monster.my_turn == true %}checked="checked"{% endif %}>
        </form>
      </td>

      <td>{{ monster.initiative }}</td>

      <td>
        {% if monster.is_character %}
          {{ monster.name }}
        {% else %}
          <a href='/monster/{{ monster.slug_name }}'>{{ monster.name }}</a>
        {% endif %}
      </td>

      <td class="d-none d-md-table-cell">{{ monster.armor_class }}</td>

      <td class="d-none d-md-table-cell">{{ monster.hit_points }}</td>

      <td class="d-none d-md-table-cell">
        <center>
          {% if monster.notes %}<img data-toggle="popover"
            data-content="{{ monster.notes }}"
            width=35 src='{{ url_for('static', filename='images/eye.png') }}'>
          {% endif %}
        </center>
      </td>

      <td class="d-none d-md-table-cell">
        <center>
          {% if monster.conditions %}<img data-toggle="popover"
            data-content="{% for condition in monster.conditions %}<a href='/condition/{{ condition }}'>{{ condition|title }}</a>{% if not loop.last %}, {% endif %}{% endfor %}"
            width=35 src='{{ url_for('static', filename='images/eye.png') }}'>
          {% endif %}
        </center>
      </td>

      <td>
        <center>
          <a data-toggle="modal" data-target="#{{ monster.unique_id }}_edit">
            <img width=25 src='{{ url_for('static', filename='images/pencil.png') }}'>
          </a>
        </center>
      </td>

    </tr>

    {% endfor %}

  </table>
  <!-- End brawl -->


  <div class="modal fade" id="confirm_reset" tabindex="-1" role="dialog"
    aria-labelledby="confirm_reset" aria-hidden="true">

    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h2 class="modal-title">Are you sure</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

          <!-- Begin model footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-dark" data-dismiss="modal">Cancel</button>
            <a class="btn btn-warning" href="/brawl_reset">Reset</a>
          </div>
          <!-- End model footer -->

      </div>
    </div>
  </div>

  <div class="modal fade" id="confirm_clear" tabindex="-1" role="dialog"
    aria-labelledby="confirm_clear" aria-hidden="true">

    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h2 class="modal-title">Are you sure</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

          <!-- Begin model footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-dark" data-dismiss="modal">Cancel</button>
            <a class="btn btn-danger" href="/brawl_clear">Clear</a>
          </div>
          <!-- End model footer -->

      </div>
    </div>
  </div>


  <div class="modal fade" id="add_character" tabindex="-1" role="dialog"
    aria-labelledby="add_character" aria-hidden="true">

    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="accordion" id="accordionExample">

          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <a data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <h5>Add Random Monster</h5>
                </a>
              </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">

                <form action='/brawl_add_random_monster' method='POST'>

                <div class="modal-body">

                    <div class="form-row">

                      <div class="col-12">
                        <label for="quantity">How Many</label>
                        <select name="quantity" class="form-control" id="quantity">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                      </div>

                      <div class="col-12">
                        <label for="by_cr">Challenge Rating</label>
                        <select name="cr" class="form-control" id="by_cr">
                            <option value="">-</option>
                            {% for cr in challenge_rating %}
                              <option value="{{ cr }}">{{ cr|get_challenge_fraction }}</option>
                            {% endfor %}
                        </select>
                      </div>

                    </div>

                </div>

                <!-- Begin model footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Add</button>
                </div>
                <!-- End model footer -->

                </form>

              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <a data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <h5>Add Character</h5>
                </a>
              </h5>
            </div>

            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">

                <form action='/brawl_add_character' method='POST'>

                <div class="modal-body">

                    <div class="form-row">

                      <div class="col-12">
                        <input type="text" name="name" class="form-control" placeholder="Name" required>
                      </div>

                      <br><br>

                      <div class="col-6">
                        <input id="name" class="form-control" type="text" name="initiative_modifier" placeholder="Init modifier" required>
                      </div>

                      <div class="col-3">
                        <input id="ac" class="form-control" type="text" name="armor_class" placeholder="AC" required>
                      </div>

                      <div class="col-3">
                        <input id="hp" class="form-control" type="text" name="hit_points" placeholder="HP" required>
                      </div>

                    </div>

                </div>

                <!-- Begin model footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Add</button>
                </div>
                <!-- End model footer -->

                </form>

              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>

<!-- Begin brawl modals -->
{% for monster in monsters %}

<div class="modal fade" id="{{ monster.unique_id }}_edit" tabindex="-1" role="dialog"
  aria-labelledby="{{ monster.unique_id }}_edit" aria-hidden="true">

  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h2 class="modal-title" id="{{ monster.unique_id }}_label">{{ monster.name }}</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form action='/brawl_update_monster' method='POST'>

      <div class="modal-body">

        <input type="hidden" name="unique_id" value="{{ monster.unique_id }}">

        <div class="row">

          <div class="col-4">
            <strong>Init</strong>
            <input id="name" class="form-control" type="number"
              value="{{ monster.initiative }}" name="initiative" required>
          </div>

          <div class="col-4">
            <strong>AC</strong>
            <input id="ac" class="form-control" type="text" name="armor_class"
              value="{{ monster.armor_class }}" required>
          </div>

          <div class="col-4">
            <strong>HP</strong>
            <input id="hp" class="form-control" type="text" name="hit_points"
              value="{{ monster.hit_points }}" required>
          </div>

        </div>
        <br>

        <strong>Notes</strong>
        <textarea id="notes" class="form-control" rows="3" name="notes">{{ monster.notes }}</textarea>
        <br>

        <!-- Begin conditions -->
        <strong>Conditions</strong>
        <center>

          <div class="form-check form-check-inline col-4">
            <input class="form-check-input" type="checkbox" value="blinded"
              name="blinded" {% if 'blinded' in monster.conditions %}checked{% endif %}>
            <label class="form-check-label">Blinded</label>
          </div>

          <div class="form-check form-check-inline col-4">
            <input class="form-check-input" type="checkbox" value="charmed"
              name="charmed" {% if 'charmed' in monster.conditions %}checked{% endif %}>
            <label class="form-check-label">Charmed</label>
          </div>

          <div class="form-check form-check-inline col-4">
            <input class="form-check-input" type="checkbox" value="deafened"
              name="deafened" {% if 'deafened' in monster.conditions %}checked{% endif %}>
            <label class="form-check-label">Deafened</label>
          </div>

          <div class="form-check form-check-inline col-4">
            <input class="form-check-input" type="checkbox" value="fatigued"
              name="fatigued" {% if 'fatigued' in monster.conditions %}checked{% endif %}>
            <label class="form-check-label">Fatigued</label>
          </div>

          <div class="form-check form-check-inline col-4">
            <input class="form-check-input" type="checkbox" value="frightened"
              name="frightened" {% if 'frightened' in monster.conditions %}checked{% endif %}>
            <label class="form-check-label">Frightened</label>
          </div>

          <div class="form-check form-check-inline col-4">
            <input class="form-check-input" type="checkbox" value="grappled"
              name="grappled" {% if 'grappled' in monster.conditions %}checked{% endif %}>
            <label class="form-check-label">Grappled</label>
          </div>

          <div class="form-check form-check-inline col-4">
            <input class="form-check-input" type="checkbox" value="incapacitated"
              name="incapacitated" {% if 'incapacitated' in monster.conditions %}checked{% endif %}>
            <label class="form-check-label">Incapacitated</label>
          </div>

          <div class="form-check form-check-inline col-4">
            <input class="form-check-input" type="checkbox" value="invisible"
              name="invisible" {% if 'invisible' in monster.conditions %}checked{% endif %}>
            <label class="form-check-label">Invisible</label>
          </div>

          <div class="form-check form-check-inline col-4">
            <input class="form-check-input" type="checkbox" value="paralyzed"
              name="paralyzed" {% if 'paralyzed' in monster.conditions %}checked{% endif %}>
            <label class="form-check-label">Paralyzed</label>
          </div>

          <div class="form-check form-check-inline col-4">
            <input class="form-check-input" type="checkbox" value="petrified"
            name="petrified" {% if 'petrified' in monster.conditions %}checked{% endif %}>
            <label class="form-check-label">Petrified</label>
          </div>

          <div class="form-check form-check-inline col-4">
            <input class="form-check-input" type="checkbox" value="poisoned"
              name="poisoned" {% if 'poisoned' in monster.conditions %}checked{% endif %}>
            <label class="form-check-label">Poisoned</label>
          </div>

          <div class="form-check form-check-inline col-4">
            <input class="form-check-input" type="checkbox" value="prone"
              name="prone" {% if 'prone' in monster.conditions %}checked{% endif %}>
            <label class="form-check-label">Prone</label>
          </div>

          <div class="form-check form-check-inline col-4">
            <input class="form-check-input" type="checkbox" value="restrained"
              name="restrained" {% if 'restrained' in monster.conditions %}checked{% endif %}>
            <label class="form-check-label">Restrained</label>
          </div>

          <div class="form-check form-check-inline col-4">
            <input class="form-check-input" type="checkbox" value="stunned"
              name="stunned" {% if 'stunned' in monster.conditions %}checked{% endif %}>
            <label class="form-check-label">Stunned</label>
          </div>

          <div class="form-check form-check-inline col-4">
            <input class="form-check-input" type="checkbox" value="unconscious"
              name="unconscious" {% if 'unconscious' in monster.conditions %}checked{% endif %}>
            <label class="form-check-label">Unconscious</label>
          </div>

          <div class="form-check form-check-inline col-4">
            <input class="form-check-input" type="checkbox" value="exhaustion"
              name="exhaustion" {% if 'exhaustion' in monster.conditions %}checked{% endif %}>
            <label class="form-check-label">Exhaustion</label>
          </div>

        </center>
        <!-- End conditions -->

      </div>

      <!-- Begin model footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
        <a class="btn btn-danger" href="/brawl_remove_monster?unique_id={{ monster.unique_id }}">Remove</a>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
      <!-- End model footer -->

      </form>
    </div>
  </div>
</div>
{% endfor %}
<!-- End brawl modals -->

</div>

{% endblock %}
