{% extends 'base.html' %}


{% block title %}
{{ character.name }}
{% endblock %}


{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/character.css') }}">
{% endblock %}


{% block javascript %}
<script src="{{ url_for('static', filename='js/character.js') }}"></script>
{% endblock %}


{% block content %}

<div class="container">

  <h1>

    <form action="/brawl_add_character" method="POST">

    {% if character.portrait %}
    <img class="img-thumbnail" width=200px src="{{ url_for('static', filename=character.portrait) }}">
    <span class="d-block d-sm-none"></span>
    {% endif %}

    <span class="align-bottom"><strong>{{ character.name }}</strong></span>
    <input class="align-bottom" type="image" width=45 src="{{ url_for('static', filename='images/add.png') }}" border="0" alt="Submit" />

    <!-- Begin add character to brawl -->
      <input type="hidden" name="initiative_modifier" value="{{ character.dexterity|get_ability_modifier  }}">
      <input type="hidden" name="name" value="{{ character.name }}">
      <input type="hidden" name="armor_class" value="{{ character.armor_class }}">
      <input type="hidden" name="hit_points" value="{{ character.hit_points }}">
      <input type="hidden" name="url" value="/character/{{ character.slug_name }}">

    </form>

    <!-- End add character to brawl -->

  </h1>

  <!-- Begin character type -->
  {{ character.size|title }} {{ character.race|title }} <strong>{{ character.class|title }} {{ character.level }}</strong>
  , {{ character.alignment|title }} ({{ character.background|title}})
  <hr>
  <!-- End character type -->

  <h4>
  <a class="collapse-title" data-toggle="collapse" href="#stats">
    <strong>Stats ↕</strong>
  </a>
  </h4>

  <div class="collapse show" id="stats">
    <!-- Begin character ac, hp, and speed -->
    <div class="padding">
      <strong>• Armor Class</strong>: <span>{{ character.armor_class }} {{ character.armor_class_type }}</span><br>
      <strong>• Hit Points</strong>: <span>{{ character.hit_points }} ({{ character.hit_dice }})</span><br>
      <strong>• Speed</strong>: <span>{{ character.speed }}</span><br>
    </div>
    <hr>
    <!-- End character ac, hp, and speed -->

    <!-- Begin character attributes -->
    <table class="tablepadding">

      <thead>
        <tr>
          <th><strong>STR</strong></th>
          <th><strong>DEX</strong></th>
          <th><strong>CON</strong></th>
          <th><strong>INT</strong></th>
          <th><strong>WIS</strong></th>
          <th><strong>CHA</strong></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td><span>{{ character.strength }} ({{ character.strength|get_ability_modifier }})</span></td>
          <td><span>{{ character.dexterity }} ({{ character.dexterity|get_ability_modifier  }})</span></td>
          <td><span>{{ character.constitution }} ({{ character.constitution|get_ability_modifier  }})</span></td>
          <td><span>{{ character.intelligence }} ({{ character.intelligence|get_ability_modifier  }})</span></td>
          <td><span>{{ character.wisdom }} ({{ character.wisdom|get_ability_modifier  }})</span></td>
          <td><span>{{ character.charisma }} ({{ character.charisma|get_ability_modifier  }})</span></td>
        </tr>

      </tbody>

    </table>
    <hr>
    <!-- End character attributes -->

    <!-- Start character details -->
    <div class="padding">

      {% if character.saving_throws %}
        <strong>• Saving Throws</strong>:
        <span>{{ character.saving_throws }}</span>
        <br>
      {% endif %}

      {% if character.skills %}
        <strong>• Skills</strong>:
        <span>{{ character.skills }}</span>
        <br>
      {% endif %}

      {% if character.condition_immunities %}
        <strong>• Condition Immunities</strong>:
        <span>{{ character.condition_immunities }}</span>
        <br>
      {% endif %}

      {% if character.damage_resistances %}
        <strong>• Resistances</strong>:
        <span>{{ character.damage_resistances }}</span>
        <br>
      {% endif %}

      {% if character.damage_vulnerabilities %}
        <strong>• Vulnerabilities</strong>:
        <span>{{ character.damage_vulnerabilities }}</span>
        <br>
      {% endif %}

      {% if character.senses %}
        <strong>• Senses</strong>:
        <span>{{ character.senses }}</span>
        <br>
      {% endif %}
      </div>

    <hr>

    <h4>
    <a class="collapse-title" data-toggle="collapse" href="#proficiences">
      <strong>Proficiencies ↕</strong>
    </a>
    </h4>

    <div class="collapse show" id="proficiences">
    {% if character.proficiences %}
      <strong>• Proficiency Bonus</strong>:
      <span>{{ character.proficiences }}</span>
      <br>
    {% endif %}

    {% if character.armor %}
      <strong>• Armor</strong>:
      <span>{{ character.armor }}</span>
      <br>
    {% endif %}

    {% if character.weapons %}
      <strong>• Weapons</strong>:
      <span>{{ character.weapons }}</span>
      <br>
    {% endif %}

    {% if character.tools %}
      <strong>• Tool</strong>:
      <span>{{ character.tools }}</span>
      <br>
    {% endif %}

    {% if character.languages %}
      <strong>• Languages</strong>:
      <span>{{ character.languages }}</span>
      <br>
    {% endif %}

    </div>

  </div>

  <hr>
  <!-- End character details -->

  <!-- Start character equipment_packs -->
  {% if character.equipment_packs %}

  <h4>
  <a class="collapse-title" data-toggle="collapse" href="#equipment">
    <strong>{{ character.equipment_packs.name }} ↕</strong>
  </a>
  </h4>

  <div class="collapse show" id="equipment">
    <div class="whitespace spacein paddingbottom">• {{ character.equipment_packs.contents }}</div>
    <!-- End character equipment_packs -->
    </div>
  <hr>
  {% endif %}

  <!-- Start character special abilities -->
  {% if character.features %}

    <h4>
    <a class="collapse-title" data-toggle="collapse" href="#features">
      <strong>Features ({{ character.features|length }}) ↕</strong>
    </a>
    </h4>

    <div class="collapse show" id="features">
    {% for feature in character.features %}
      <div class="padding toppadding"><strong>• {{ feature.name }}</strong></div>
      <div class="whitespace spacein paddingbottom">{{ feature.description }}</div>
    {% endfor %}
    </div>

  <hr>
  {% endif %}
  <!-- End character special abilities -->

  <!-- Start character spells -->

  {% if character.spell_casting %}
    {% for spell_casting in character.spell_casting %}

      <h4>
      <a class="collapse-title" data-toggle="collapse" href="#spell-casting">
        <strong>{{ spell_casting.title }} ({{ spell_casting.spell_list|length }}) ↕</strong>
      </a>
      </h4>

      <div class="collapse show" id="spell-casting">
      <br>
      <span class="whitespace">{{ spell_casting.top_description }}</span><br>

      <br>

      {% for spell_list in spell_casting.spell_list %}
        <div class="spellpadding">
          • {{ spell_list.title }}:
        {% for spell in spell_list.spells %}
          <a href='/spell/{{ spell.slug_name }}'>{{ spell.name|lower }}</a>{% if not loop.last %},{% endif %}
        {% endfor %}
        </div>
      {% endfor %}
      <br>

      {% if spell_casting.bottom_description %}
        <span class="whitespace">{{ spell_casting.bottom_description }}</span>
      {% endif %}
    {% endfor %}

    {% if character.arcane_tradition %}
    <strong>Arcane Tradition</strong>:
    <span>{{ character.arcane_tradition }}</span>
    <br><br>
    {% endif %}

    {% if character.divine_domain %}
    <strong>Divine Domain</strong>:
    <span>{{ character.divine_domain }}</span>
    <br><br>
    {% endif %}

    {% if character.bard_college %}
    <strong>Bard College</strong>:
    <span>{{ character.bard_college }}</span>
    <br><br>
    {% endif %}

  </div>
  <hr>
  {% endif %}

  <!-- End character spells -->

  <!-- Start character actions -->
  {% if character.actions %}

    <h4>
    <a class="collapse-title" data-toggle="collapse" href="#actions">
      <strong>Actions ({{ character.actions|length }}) ↕</strong>
    </a>
    </h4>

    <div class="collapse show" id="actions">
    {% for action in character.actions %}
      <div class="padding"><strong>• {{ action.name }}</strong></div>
      <div class="whitespace spacein paddingbottom">{{ action.description }}</div>
    {% endfor %}
    </div>
    <hr>
    <!-- End character actions -->
  {% endif %}

  <!-- Start character actions -->
  {% if character.bonus_actions %}

    <h4>
    <a class="collapse-title" data-toggle="collapse" href="#bonus_actions">
      <strong>Bonus Actions ({{ character.bonus_actions|length }}) ↕</strong>
    </a>
    </h4>

    <div class="collapse show" id="bonus_actions">
    {% for action in character.bonus_actions %}
      <div class="padding"><strong>• {{ action.name }}</strong></div>
      <div class="whitespace spacein paddingbottom">{{ action.description }}</div>
    {% endfor %}
    </div>
    <!-- End character actions -->
    <hr>
  {% endif %}

  <!-- Start character actions -->
  {% if character.reactions %}

    <h4>
    <a class="collapse-title" data-toggle="collapse" href="#reactions">
      <strong>Reactions ({{ character.reactions|length }}) ↕</strong>
    </a>
    </h4>

    <div class="collapse show" id="reactions">
    {% for reaction in character.reactions %}
      <div class="padding"><strong>• {{ reaction.name }}</strong></div>
      <div class="whitespace spacein paddingbottom">{{ reaction.description }}</div>
    {% endfor %}
    </div>
    <!-- End character actions -->
  {% endif %}

</div>

{% endblock %}
