{% extends 'base.html' %}


{% block title %}
Monsters
{% endblock %}


{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/monsters.css') }}">
{% endblock %}


{% block javascript %}
<script src="{{ url_for('static', filename='js/monsters.js') }}"></script>
{% endblock %}


{% block content %}

<!-- Begin monster search form -->
<div class="container">

  <form action="/monster_search" method="GET">

  <div class="form-row">

    <!-- Search input -->
    <div class="col-9">
      <label for="inputName" class="sr-only">Search Text</label>
      <input id="inputName" class="form-control" type="text" name="search_text"
        value="{{ search_text }}" placeholder="..." required autofocus>
    </div>

    <!-- Search button -->
    <div class="col-3">
      <button class="btn btn-block btn-outline-primary" type="submit">Search</button>
    </div>

  </div>

  </form>

</div>
<hr>
<!-- End monster search form -->


<!-- Begin monster list -->
<div class="container">

  <table id="table" class="table table-striped" style="width:100%">

      <tr>
        <th><a href='?sort=name&search_text={{ search_text }}&search_field={{ search_field }}'>Name</a></th>
        <th class="d-none d-md-table-cell"><a href='?sort=size&search_text={{ search_text }}&search_field={{ search_field }}'>Size</a></th>
        <th class="d-none d-md-table-cell"><a href='?sort=type&search_text={{ search_text }}&search_field={{ search_field }}'>Type</a></th>
        <th class="d-none d-md-table-cell"><a href='?sort=alignment&search_text={{ search_text }}&search_field={{ search_field }}'>Alignment</a></th>
        <th class="d-none d-md-table-cell"><a href='?sort=challenge_rating&search_text={{ search_text }}&search_field={{ search_field }}'>Challenge</a></th>
      </tr>

      {% for monster in monsters %}
      <tr>
        <td><a href='/monster/{{ monster.slug_name }}'>{{ monster.name }}</a></td>
        <td class="d-none d-md-table-cell">{{ monster.size|title }}</td>
        <td class="d-none d-md-table-cell">{{ monster.type|title }}</td>
        <td class="d-none d-md-table-cell">{{ monster.alignment|title }}</td>
        <td class="d-none d-md-table-cell">{{ monster.challenge_rating|get_challenge_fraction }}</td>
      </tr>
      {% endfor %}

  </table>

</div>
<!-- End monster list -->

{% endblock %}
