{% extends 'base.html' %}


{% block title %}
Spells
{% endblock %}


{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/spells.css') }}">
{% endblock %}


{% block javascript %}
<script src="{{ url_for('static', filename='js/spells.js') }}"></script>
{% endblock %}


{% block content %}

<!-- Begin spell search form -->
<div class="container">

  <form action="/spell_search" method="GET">

  <div class="form-row">

    <!-- Search input -->
    <div class="col-9">
      <label for="inputName" class="sr-only">Search Text</label>
      <input id="inputName" class="form-control" type="text" name="search_text"
        value="{{ search_text }}" placeholder="..." required autofocus>
    </div>

    <!-- Search button -->
    <div class="col-3">
      <button class="btn btn-block btn-outline-primary" type="submit">Search</button>
    </div>

  </form>

  </div>

</div>
<hr>
<!-- End spell search form -->


<!-- Begin spell list -->
<div class="container">

  <table id="table" class="table table-striped" style="width:100%">

      <tr>
        <th><a href='?sort=name&search_text={{ search_text }}&search_field={{ search_field }}'>Name</a></th>
        <th><a href='?sort=school&search_text={{ search_text }}&search_field={{ search_field }}'>School</a></th>
        <th class="d-none d-md-table-cell"><a href='?sort=level&search_text={{ search_text }}&search_field={{ search_field }}'>Level</a></th>
      </tr>

      {% for spell in spells %}
      <tr>
        <td><a href='/spell/{{ spell.slug_name }}'>{{ spell.name }}</a></td>
        <td>{{ spell.school }}</td>
        <td class="d-none d-md-table-cell">{{ spell.level }}</td>
      </tr>
      {% endfor %}

  </table>

</div>
<!-- End spell list -->

{% endblock %}
